@tailwind base;
@tailwind components;
@tailwind utilities;

h1:first-child {
  font-size: calc(7000vw/1000);
}

.outline-title {
  font-size: calc(9000vw/1000);
  /* -webkit-text-stroke: 1px #CEA07E; */
  text-shadow:
  1px 1px 0 #CEA07E,
  -1px -1px 0 #CEA07E,
  1px -1px 0 #CEA07E,
  -1px 1px 0 #CEA07E,
  1px 1px 0 #CEA07E;
  will-change: font-variation-settings;
  font-variation-settings: "wght" 700;
}