@tailwind base;
@tailwind components;
@tailwind utilities;

/* LENIS CSS */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* UTILS */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background-color: #CEA07E;
}

.section-container {
  @apply w-col12 mx-auto
}

a {
  cursor: pointer;
}

/* CSSTransition */
.fadeIn-enter {
  transform: translateX(100%);
}
.fadeIn-enter-active {
  transform: translateX(0);
  transition: transform .2s;
}
.fadeIn-exit {
  transform: translateX(0);
}
.fadeIn-exit-active {
  transform: translateX(100%);
  transition: transform .2s;
}
/*
.mouse--animation {
  transform: translateY(65%) scale(0.15);
  &-enter {
      opacity: 0;
      &-active {
          opacity: 1;
          transition: opacity .2s ease-in-out;
      }
  }
  &-exit {
      opacity: 1;
      &-active {
          opacity: 0;
          transition: opacity .2s ease-in-out;
      }
  } */

/* NAVBAR */
ul a > div > span {
  display: inline-block;
}
ul a > div > span:nth-child(2) > span {
  transform: translateY(100%);
}

/* HERO */
.outlined-hero {
  text-shadow:
  1px 1px 0 #CEA07E,
  -1px -1px 0 #CEA07E,
  1px -1px 0 #CEA07E,
  -1px 1px 0 #CEA07E,
  1px 1px 0 #CEA07E;
  will-change: font-variation-settings;
  font-variation-settings: "wght" 200;
}

/* WORK */
@media screen and (min-width: 768px) {
  .projects > li:nth-child(even) {
    transform: translateY(40%);
  }
  .projects > li:nth-child(3) {
    transform: translateY(10%);
  }
}