@tailwind base;
@tailwind components;
@tailwind utilities;

/* UTILS */
.section-container {
  @apply w-col12 mx-auto
}

/* NAVBAR */
ul a > div > span {
  display: inline-block;
}
ul a > div > span:nth-child(2) > span {
  transform: translateY(100%);
}

/* HERO */
.outlined-hero {
  text-shadow:
  1px 1px 0 #CEA07E,
  -1px -1px 0 #CEA07E,
  1px -1px 0 #CEA07E,
  -1px 1px 0 #CEA07E,
  1px 1px 0 #CEA07E;
  will-change: font-variation-settings;
  font-variation-settings: "wght" 700;
}